body {
  background: url("/assets/bg.jpg");
  background-size: cover; }

#header {
  background-color: white;
  background-size: cover; }

.flat_menu_buttons {
  display: center;
  background-color: grey;
  margin: 0px; }

#random {
  display: inline;
  background-color: grey;
  text-align: center;
  font-family: Oswald;
  font-size: 25px;
  margin-right: 40px; }

#my_boards {
  display: inline;
  text-align: center;
  background-color: grey;
  font-family: Oswald;
  font-size: 25px;
  margin-right: 40px; }

#get_the_app {
  display: inline;
  text-align: center;
  background-color: grey;
  font-family: Oswald;
  font-size: 25px;
  margin-right: 10px; }

.main_TileDiv {
  background-color: white;
  width: 250px; }

.imgDiv {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top; }
